body {
    background-color: #111111;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.cabecalho {
    background-color: #111111;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #d3d3d3;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
    height: 72px;
    width: 112px;
}

a {
  color: #111111;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #f5f5f5;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}
